[DEFAULT]
# https://github.com/reddit/reddit/wiki/API#rules
user_agent: python:org.scymrian-meritocracy.old-modmail-archiver:v0.1.0 (by /u/YOURUSERNAME)
client_id: ALONGCODE
client_secret: ANEVENLONGERCODE
username: YOURMODACCT
password: TOPSECRET
